/* buttons */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container a {
  text-decoration: none;
  transition: all 0.2s ease;
}

button {
    width: 200px; 
    margin: 10px;
    text-align: center;
    border-radius: 4px;
}

.hidden {
  visibility: hidden;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}



/* fonts */

@font-face {
    font-family: "Anja Elaine";
    src: url(fonts/Anja\ Eliane.ttf);
}

@font-face {
    font-family: Coolvetica;
    src: url(fonts/Coolvetica\ Rg.otf);
}

@font-face {
  font-family: "Droid Sans Mono";
  src: url(fonts/DroidSansMono.ttf);
}

/* input */
textarea {
    font-family: Coolvetica, cursive;
    background-color: lightblue;
    border-radius: 8px;
}

label {
    font-family: "Anja Elaine", cursive;
}

input {
    font-family: "Anja Elaine";
}

/* headings */
h1 {
    font-family: "Anja Elaine", cursive;
}

/* body */
body {
    background-color: rgb(255, 255, 192);
}

/* btn 24 */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

/* btn 81 */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}

/* btn 34 */

.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

/* box */
.rounded-box { 
  width: 500px; 
  height: 500px; 
  background-color: #EEEBD5; 
  border-radius: 8px; 
  padding: 20px; 
  color: white; 
  text-align: center; 
  line-height: 60px;
}

/* search */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.search-bar input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
}

/* unit */

.unitcaption {
  width: 700px;
  height: 18px;
  border-radius: 4px;
  background-color: lightgreen;
  font-family: Coolvetica, cursive;
  font-size: 15px;
  margin: 0 auto;
}

.unitarea {
  width: 700px;
  height: 25px;
  border-radius: 4px;
  background-color: #FFFF99;
  font-family: Coolvetica, cursive;
  font-size: 15px;
  display: flex;
  margin: 0 auto;
}

/* canvas + other */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}

canvas {
  background-color: #f4f0eb;
  background-size: cover;
  border: 1px solid #919396;
  box-shadow: 0 10px 20px rgba(16, 16, 16, 0.567);
}

.controls {
  margin-top: 10px;
}


input[type="color"],
input[type="range"] {
  margin-right: 10px;
}

/* center */

.center {
  padding: 70px 0;
  text-align: center;
}